@charset "UTF-8";
:root{
    --cor0: #e0e2e6;
    --cor1: #1d1d1b;
    --cor2: #9b2c3b;
    --cor3: #153270;
    --cor4: #d7c490;
    /*#2f4a84*/
}
*{margin: 0px; padding: 0px;}

body{
    background-color: var(--cor0);
    p{
        /*font: normal 400 2.1em montserrat;*/
        font: normal 400 clamp(1.4rem, 1.9vw, 2.1rem) montserrat;
        color: var(--cor0);
        padding: 7px 0px;
    }
}

header{
    background-color: var(--cor2);
    color: var(--cor0);
    text-align: center;
    h1{
        margin: -20px auto -20px auto;
        padding-top: 30px;
        font: normal 600 clamp(3.3rem, 6vw, 7rem) montserrat;
        font-variant: small-caps;
    }
    h3{
        font: normal 400 clamp(1.05rem, 1.8vw, 2.1rem) montserrat;
        /*font: normal 400 2.7em montserrat;*/
        margin-top: 10px;
        padding-bottom: 30px;
    }
    a{
        font-weight: 500;
        text-decoration: none;
        color: var(--cor0);
    }
    a:hover{
        text-decoration: underline;
    }
}


div#image1{
    background: url('imagens/background001.jpg') no-repeat center center/cover fixed;
}
div#image2{
    background: url('imagens/background002.jpg') no-repeat center center/cover fixed;
}
.image{
    /*background-color: var(--cor2);*/
    width: 100%;
    height: auto;
}
.imagetext{
    /*background-color: var(--cor1);*/
    max-width: 1400px;
    height: 600px;
    margin: 0px auto;
}
#bgtext1,#bgtext2{
    justify-content: center;
    align-items: center;
    float: right;
    padding: 0px 15% 0px 2%;
    margin: 0px auto;
    max-width: 505px;
    height: auto;
    
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.texti{
    background-color: #1d1d1b78;
    display: inline-block;
    padding: 10px 20px;
}


.noimage{
    background-color: var(--cor3);
    border-top: solid var(--cor4);
    border-bottom: solid var(--cor4);
    width: 100%;
    height: auto;
}
.noimagespace{
    background-color: var(--cor3);
    background-size: 100% 100%;
    margin: 0px auto;
    max-width: 1400px;
    min-height: auto;
    max-height: auto;
    padding-top: 50px;
}
.space{
    /*background-color: var(--cor1);*/
    padding-bottom: 50px;
    padding-left: 10%;
    display: block;
    max-width: 50%;
    min-width: 334px;
    height: auto;
}
.text{
    border-right: solid 0.4rem var(--cor4);
    display: block;
    padding: 0px 2% 0px 12%;
    max-width: 72.7%;
    min-width: 334px;
    height: auto;
    position: relative;
}


footer{
    height: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: var(--cor1);

    div#rodape{
        background-color: var(--cor2);
        box-shadow: #0000003d 0px 3px 8px;
        width: 100%;
        height: 25px;
        display: flex;
        align-items: center;
    }
    div#rodapetxt{
        width: 1040px;
        height: 25px;
        margin: auto;
        text-align: right;
    }
    h3{
        font: italic 500 1.2em montserrat;
        color: var(--cor0);
        margin: 2px 4px 0px 0px;
    }
}