@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Playpen+Sans:wght@100..800&display=swap');

@font-face {
    font-family: 'Berkshire Swash';
    src: url('fontes/BerkshireSwash-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #060e16;
    font-family: 'Berkshire Swash', 'Playpen Sans', sans-serif;
}
div#principal{
    display: inline-block;
    background-color: #039faa;
    border: 1.5px solid #c2b69d;
    text-align: center;
    height: 20px;
    width: 120px;
}
div#principal > div#infos{
    display: none;
}
div#principal:hover > div#infos{
    display: inline-block;
    font-family: 'Playpen Sans', 'Berkshire Swash', sans-serif;
    font-size: 0.9em;
    background-color: #039faa;
    border: 1.5px solid #c2b69d;
    text-align: center;
    height: 110px;
    width: 120px;
}

div.menus{
    display: inline-block;
    background-color: #039faa;
    border: 1.5px solid #c2b69d;
    text-align: center;
    height: 20px;
    width: 100px;
}
