:root {
    /*backgrounds*/
    --cor1: #000814;
    --cor2: #D9D9D9;
    /*títulos/header*/
    --cor3: #ffffff;
    --cor4: #003566;
    /*textos no geral*/
    --cor5: #B0B0B0;
    --cor6: #001D3D;
    /*links*/
    --cor7: #00BFFF;
    --cor71: #00bfff80;
    /*botões*/
    --cor8: #FF7F11;
    --cor9: #FFD700;
    /*Destaques raros*/
    --cor10: #00FF7F;
}
*{padding: 0; margin: 0;}

html, body{
    font-family: 'Elaine Sans', 'Work Sans', sans-serif;
    background-color: var(--cor2);
    color: var(--cor6);
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    border-bottom: solid 4px var(--cor7);
    background-color: var(--cor1);
    padding: 1em 0;

    color: var(--cor3);
    font-variant: small-caps;
    font-size: 0.82em;
    text-align: center;
    div{
        max-width: 700px;
        margin: auto;
    }
}


main{
    flex: 1;
    display: flex;
    flex-direction: column;
    #button{
        background-color: var(--cor7);
        color: var(--cor1);
        border: none;
        border-radius: 7px;
        font-weight: 400;
        padding: 2px 12px;
    }
    input.text{
        height: 16px;
    }
    section.um{
        background-color: var(--cor6);
        color: var(--cor3);
        padding: 2em;
        text-align: left;
        div{
            max-width: 500px;
            margin: auto;
            p{
                margin: 10px 0px;
            }
        }
    }
    section.dois{
        padding: 2em;
        text-align: left;
        div{
            max-width: 500px;
            margin: auto;
            p{
                margin: 10px 0px;
            }
        }
    }
    section.tres{
        background-color: var(--cor6);
        color: var(--cor3);
        padding: 2em;
        flex: 1;
        div{
            line-height: 1.5em;
            max-width: 600px;
            margin: auto;
            h3#ul{
                margin: 20px auto 5px auto;
                font-size: 20px;
                text-align: center;
            }
            ul{
                border: 2px solid var(--cor1);
                list-style-position: inside;
                list-style-type: square;
                font-weight: 400;
                font-size: 14px;
                height: auto;
                padding: 8px;

                columns: 2;
                .lista1, .lista2 {
                    color: var(--cor3);
                    text-decoration: none;
                }
                #first{
                    list-style-type: none;
                    font-weight: 500;
                    font-size: 20px;
                    margin: 0px auto 15px 21px;
                }
            }
            p{
                margin: 10px 0px;
            }
        }

    }
}


footer {
    border-top: solid 4px var(--cor7);
    background-color: var(--cor1);
    color: var(--cor2);
    font-weight: 300;
    text-align: center;
    padding: 1em 0;
    margin-top: auto;
}

