@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap'); /* Signika Negative */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap'); /* Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Playpen+Sans:wght@100..800&family=Shantell+Sans:ital,wght,BNCE,INFM,SPAC@0,300..800,-100..100,0..100,0..100;1,300..800,-100..100,0..100,0..100&display=swap'); /* Playpen Sans */
@font-face {
    font-family: 'Berkshire Swash';
    src: url('zStyle/fontes/BerkshireSwash-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

div#lista{
    background-color: #09656b;
    box-shadow: 0px 0px 5px #0000009a;
    border-radius: 14px;
    padding: 1px 0px;
    margin: 32px 0px 0px 0px;
    color: #fcf8eb;
    font-family: 'Playpen Sans', sans-serif;
    text-decoration: none;
}
div#lista>h3{
    color: #fcf8eb;
    background-image: linear-gradient(90deg, #060e16, transparent 60%);
    font-family: 'Signika Negative', 'Nunito Sans', 'Playpen Sans', sans-serif;
    font-weight: 500;
    margin: 15px 0px 5px 0px;
    padding-left: 10px;
    padding-top: 2px;
}
p#lista{
    padding: 0px 10px 5px 11px;
}
ul{
    background-color: #039faa;
    list-style-position: outside;
    font-size: 14px;
    min-width: 100px;
    max-width: 88%;
    margin: -7px auto 12px auto;
    padding: 7px 5px 7px 25px;
    box-shadow: 0px 0px 5px #060e1663;
    border-radius: 7px 7px 7px 7px;
    columns: 2;
}
li{
    margin: 0px 3px;
    padding-left: 7px;
    padding-right: 4px;
}
li#first1, li#first2{
    border-radius: 5px 5px 0px 0px;
}
li.lista1{
    background-image: linear-gradient(90deg, transparent, #09656b63);
}
li.lista2{
    background-image: linear-gradient(90deg, transparent, #09656b63);
}
li#last1, li#last2{
    border-radius: 0px 0px 5px 5px;
}
abbr{
    text-decoration: none;
}
ul a{
    color: #060e16;
    background-color: pink;
    margin: 0px 0px;
    text-decoration: none;
    font-weight: 500;
}
li:hover, ul abbr:hover{
    background-color: #09656b;
    color: #fcf8eb;
}
div#lista>p{
    font-size: 0.9em;
    font-family: 'Nunito Sans', sans-serif;
    color: #fcf8eb;
    padding: 0px 19px 5px 19px;
    text-align: justify;
}

footer{
    position: absolute;
    min-width: 100%;
}
div#footer{
    background-color: #039faa;
    box-shadow: 0px 0px 2px #060e16;
}
div#footer>h3{
    max-width: 718px;
    min-width: 350px;
    color: #060e16;
    text-align: right;
    margin: 25px auto;
    padding: 1px 30px 1px 30px;
}