*{padding: 0px; margin: 0px;} 
body{
    background-color: #0a3f70;
    text-align: center;
}
header{
    border-top: solid 4px #946d0b;
    border-left: solid 4px #b98910;
    border-right: solid 4px #b98910;
    border-bottom: solid 4px #b98910;
}
footer{
    border-top: solid 4px #b98910;
    border-left: solid 4px #b98910;
    border-right: solid 4px #b98910;
    border-bottom: solid 4px #946d0b;
}
header, footer{
    background-color: #0a5aa5;
    color: aliceblue;
    margin: 10px auto;
    padding-top: 5px;
    height: 120px;
    width: 800px;
    h2{
        font: 500 1.2em montserrat;
        margin: 10px 0px;
    }
    h3{
        font: 300 1.2em montserrat;
        margin: 8px 0px;
    }
    h3#result{
        margin: 4px 0px 0px 182px;
        font-size: 1.1em;
    }
    p{
        margin: 8px 0px 20px 0px;
        font: 400 1em montserrat;
    }
}
div#container{
    border: solid 4px #420101;
    background-color: #420101;
    background-image: url('../target001.png');
    height: 600px;
    width: 800px;
    margin: auto;

    position: relative;
    background-size: 100% 100%;
}
div#conteudo{
    background-color: #b98910;
    background-image: url('../target001.png');
    height: 300px;
    width: 400px;
    margin: auto;

    background-size: 100% 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
input{
    width: 115px;
    height: 18px;
    padding-left: 2px;
    border-radius: 3px;
    font: italic 12px monteserrat;
}