/* Paleta de Cores */
:root {
    /*backgrounds*/
    --cor1: #000814;
    --cor2: #D9D9D9;
    /*títulos/header*/
    --cor3: #ffffff;
    --cor4: #003566;
    /*textos no geral*/
    --cor5: #B0B0B0;
    --cor6: #001D3D;
    /*links*/
    --cor7: #00BFFF;
    /*botões*/
    --cor8: #FF7F11;
    --cor9: #FFD700;
    /*Destaques raros*/
    --cor10: #00FF7F;
}
*{padding: 0; margin: 0;}
html{
    height: 100hv;
}
body {
    font-family: 'Elaine Sans', 'Work Sans', sans-serif;
    background-color: var(--cor2);
    color: var(--cor6);
}
header {
    border-bottom: solid 4px var(--cor7);
    background-color: var(--cor1);
    color: var(--cor3);
    padding: 1em 0;
    text-align: center;
    p{
        width: 100%;
        max-width: 650px;
        margin: auto;
    }
}



main{
    section.hero{
        background-color: var(--cor6);
        color: var(--cor3);
        padding: 2em;
        text-align: center;
        p{
            width: 100%;
            max-width: 650px;
            margin: auto;
        }
        iframe#github{
            width: 100%;
            max-width: 850px;
            height: 300px;
        }
    }
    section.content {
        padding: 2em;
        text-align: center;
        p{
            width: 100%;
            max-width: 650px;
            margin: auto;
        }
        iframe#cordel{
            width: 100%;
            max-width: 850px;
            height: 300px;
        }
    }
}



footer {
    border-top: solid 4px var(--cor7);
    background-color: var(--cor1);
    color: var(--cor2);
    font-weight: 300;
    text-align: center;
    padding: 1em 0;
}
