:root {
    /* Cores principais */
    --cor1: #56070c;
    --cor2: #170000;

    /* Cores complementares */
    --cor3: #707070;
    --cor4: #D3D3D3;
    --cor5: #FFFFFF;
    --cor6: #F7E7CE;
    --cor7: #D4AF37;
}


body {
    background-color: var(--champanhe-claro);
    color: var(--cinza-medio);
    font-family: 'Arial', sans-serif;
}

header {
    background-color: var(--vinho-tinto-escuro);
    color: var(--branco);
    padding: 1em;
    text-align: center;
}

nav {
    background-color: var(--cinza-claro);
    color: var(--preto-profundo);
    padding: 1em;
}

footer {
    background-color: var(--cinza-medio);
    color: var(--branco);
    padding: 1em;
    text-align: center;
}

button {
    background-color: var(--dourado);
    color: var(--preto-profundo);
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--vinho-tinto-escuro);
    color: var(--branco);
}
