/* Paleta de Cores */
:root {
    /* Backgrounds */
    --cor0: #ffffff;
    --cor1: #0B0B1D;
    --cor2: #f7f7f7;

    /* Background secundários */
    --cor3: #090825;
    /* azul escuro */
    --cor4: #e6e6e6;
    /* Txt desses bgs */
    --cor5: #1A0034;
    /* roxo escuro */

    --cor6: #BF71F0;
    --cor61: #bf71f039;
    --cor62: #443752;
    --cor7: #E5FF0A;
    --cor71: #e6ff0a89;
    --cor72: #e6ff0ad2;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Elaine Sans', 'Work Sans', sans-serif;
}
html,body {
    width: 100%; height: 100%;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
}


main{
    background-image: linear-gradient(135deg, var(--cor62) 0%, var(--cor5) 80%, var(--cor1) 100%);
    width: 100%; height: 100%;

    display: flex;
    flex-direction: column;
    flex: 1;

    .footer{ 
        width: 100%;
        color: var(--cor0);
        margin-top: 0;

        text-align: center;
        color: var(--cor0);
        h3 {
            padding: 5px 0;
            font-weight: 400;
            font-size: 1.2em;
        }
    }
}
main .login-section{
    width: 60%; height: 600px;
    max-width: 350px;
    min-width: 300px;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    transition: height 0.5s, flex-direction 1s;
    transition-timing-function: ease;

    .img-div{
        background: url(../imgs/img-login.jpg) no-repeat top center/cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        width: 100%; height: 50%;

        border: 2px solid var(--cor1);
        border-bottom: none;

    }
    .form-div{
        background-color: var(--cor2);
        border: 2px solid var(--cor1);
        border-top: none;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%; height: 50%;

        font-weight: 500;
        color: var(--cor1);
        
        display: flex;
        flex-direction: column;
        a{
            text-decoration: none;
            color: var(--cor5);
        }
        a:hover{
            color: var(--cor6);
        }
        .check-icon {
            background-color: transparent;
            margin-left: 4px;

            color: var(--cor6);
            font-weight: 800;
            font-size: 1.4em;

            vertical-align: middle;
            display: inline;
        }
    }
}
.form-div form{
    width: 100%; height: 100%;
    margin: auto;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .login-dados{
        background-image: linear-gradient(135deg, var(--cor4) 0%, var(--cor61) 80%, var(--cor6) 140%);
        font-family: 'Work Sans', 'Elaine Sans', sans-serif;
        color: var(--cor1);

        outline: none; /* retira a bordinha quando a caixa do input é selecionada */

        width: 100%; height: 100%;
        margin: 0; padding: 5px;
        border-radius: 7px;
        border: none;
    }
    .login-entrar{
        background-color: var(--cor5);
        color: var(--cor4);
        width: 96%;
        padding: 5px;
        border-radius: 7px;
        cursor: pointer;
        font-variant: small-caps;
    }
    .login-entrar:hover{
        color: var(--cor6);
        font-weight: 500;
    }
    .profile-div:focus-within .login-entrar {
        color: var(--cor7); 
    }
    span{
        background-color: var(--cor5);
        color: var(--cor4);
        width: 32px; height: 100%;
        margin-right: 4px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        vertical-align: middle;
    }
    .profile-div:focus-within span { /* sugestão IA, estudar posteriormente sobre :focus-within */
        color: var(--cor6); 
    }
    .profile-div{
        background-color: var(--cor3);
        border-radius: 9px;
        width: 96%; height: 40px;
        margin: 5px auto;
        padding: 2px;

        display: flex;
        justify-content: center;
        vertical-align: middle;

    }
}


@media screen and (min-width: 768px){

    main{
        background-color: var(--cor1);
    }
    main .login-section{
        width: 90%; height: 250px;
        max-width: 768px;
        flex-direction: row;

        transition: width 0.4s, flex-direction 1s;
        transition-timing-function: ease;

        .img-div{
            background: url(../imgs/img-login.jpg) no-repeat top center/cover;
            border: 2px solid var(--cor1);
            border-right: none;

            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 0px;
            width: 35%; height: 100%;
        }
        .form-div{
            border: 2px solid var(--cor1);
            border-left: none;

            background-color: var(--cor2);
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            border-bottom-left-radius: 0px;
            color: var(--cor1);
    
            width: 65%; height: 100%;
            display: flex;
            flex-direction: column;
        }
    
    }
}

/* 
@media screen and (min-width: 1200px){

    main .login-section{
        width: 90%; height: 250px;
        max-width: 770px;
        flex-direction: row-reverse;

        transition: row-reverse 0.5s;

        .img-div{
            background: url(../imgs/img-login.jpg) no-repeat top center/cover;
            border: 2px solid var(--cor1);
            border-left: none;

            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            width: 35%; height: 100%;
        }
        .form-div{
            border: 2px solid var(--cor1);
            border-right: none;

            background-color: var(--cor2);
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
            color: var(--cor1);
    
            width: 65%; height: 100%;
            display: flex;
            flex-direction: column;
        }    
    }
} */
