@charset "UTF-8";
*{padding: 0px; margin: 0px;}

html{height: 100%;}
body{
    background-color: #420101;
    display: flex;
    flex-direction: column;
}

section{
    margin: auto;
    min-width: 500px;
    max-width: 900px;
    width: 60%;
}
div#box{
    box-shadow: 0px 0px 5px 2px #00258b57;
    border-bottom: solid 2px #886409;
    width: 100%;
    height: 45px;
    position: absolute;
    div#boxbox{
        margin: auto;
        min-width: 500px;
        max-width: 600px;
        width: 60%;
        height: 45px;
        border-bottom: solid 2px #b98910;
    }
}
header{
    background-color: #0a3f70;
    color: aliceblue;
    height: 45px;
    display: flex;
    section{
        background-color: #0a5aa5;
        margin: auto;
        max-width: 600px;
        height: 45px;
        display: flex;
        
        h1{
            font: normal 600 clamp(1.4rem, 2.2vw, 1.9rem) montserrat;
            margin: auto;
        }
    }
}



main{
    background-color: #420101;
    display: flex;
    justify-content: center;
    align-items: center; 
    max-height: 100%;
    flex: 1;
    
    section{
        background-color: #7c1313;
        max-width: 600px;
        height: 100%;
        display: flexbox;
    }
    p{
        font: normal 400 1.1em montserrat;
        text-align: justify;
        color: aliceblue;
        margin: auto;
        padding: 20px 20px;
    }
    table{
        margin: auto;
    }
}

div#conteiner{
    max-width: 400px;
    padding: 0 20px;
    margin: auto;
    overflow-x: auto;
}
table{
    box-shadow: 0px 0px 5px 2px #3d000086;
    background-color: #dcebfc;
    border-collapse: collapse;
    color: rgb(61, 43, 43);

    caption{
        background-color: #dcebfc;
        font: normal 500 1.2em Arial;
        font-variant: small-caps;
        padding: 5px;
    }
    th,td{
        border: solid 2px #382e00;
        padding: 7px;
    }
    tr:nth-child(2n-1){
        background-color: #26558b;
        color: aliceblue;
    }
}



/*footer{
    border-top: solid 2px rgb(138, 101, 8);
    background-color: #0a3f70;
    color: aliceblue;
    width: 100%;
    height: 30px;

    section{
        border-top: solid 2px darkgoldenrod;
        background-color: #0a5aa5;
        margin: -2px auto;
        max-width: 600px;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: right;
        justify-content: flex-end;
        position: relative;

        h3{
            font: italic 500 1em montserrat;
            margin: auto 10px auto auto;
        }
    }
}*/

footer {
    border-top: solid 2px rgb(138, 101, 8);
    background-color: #0a3f70;
    color: aliceblue;
    width: 100%;
    height: 30px;
    section {
        border-top: solid 2px darkgoldenrod;
        background-color: #0a5aa5;
        margin: -2px auto;
        max-width: 600px;
        height: 100%;
        display: flex;
        align-items: center;
        text-align: right;
        justify-content: flex-end;
        position: relative;
        h3 {
            font: italic 500 1em montserrat;
            margin: auto 10px auto auto;
        }
    }
}
