@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #610000;
}

header {
    background-color: #1c57af;
    border-bottom: solid 4px #c9bc03;
    box-shadow: 0 0 5px 5px #4400007c;
    width: 100%;
    height: auto;
    padding: 20px 0;
    font: normal 500 1.25rem montserrat;
    text-align: center;
    color: #dadee2;
    position: relative;

    .header-content {
        background-color: #12006123;
        border-radius: 4px;
        display: inline-block;
        padding: 5px 20px;

        h2, h3, p {
            padding: 0 auto;
            margin: 5px 0;
        }
    }
}

main {
    background-color: #853a23; /* #992705 */
    box-shadow: 0 0 10px 7px #4400007c;
    padding: 25px 0;
    margin: 0 auto;
    max-width: 900px;
    height: 700px;

    p {
        font: normal 500 1.8em montserrat;
        color: #fffcf5fd;
        text-align: center;
        padding-bottom: 21px;
    }
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    border-collapse: collapse;
    box-shadow: 0 0 5px 2px #22000036;
    margin: 0 auto;
    width: 460px;
    height: 588px;

    tr {
        &.imp {
            background-color: #dbd9d9;
        }
        &.par {
            background-color: whitesmoke;
        }
    }

    td {
        border: 2px solid #0000003a;
        padding: 20px;
        text-align: center;
        vertical-align: middle;
    }
}

footer {
    background-color: #1c57af;
    border-top: solid 3px #c9bc03e8;
    box-shadow: #0000003d 0 3px 8px;
    height: 40px;
    width: 100%;

    position: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    bottom: 0;
    margin-bottom: 0;

    .footer-content {
        height: 100%;
        display: flex;
        align-items: center;
        text-align: right;

        h3 {
            font: italic 500 1.2em montserrat;
            color: #dadee2;
            margin: 0 10px;
        }
    }
}
